@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">*@
@*    <h1>ASP.NET</h1>*@
@*    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
@*    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
@*</div>*@

@if (User.IsInRole("Admin"))
{
    using (Html.BeginForm("SearchByString", "Admin", FormMethod.Post))
    {
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="input-group">
                    <input class="form-control border-secondary py-2" name="search" type="search" placeholder="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    using (Html.BeginForm("SearchByString", "Ads", FormMethod.Post))
    {
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="input-group">
                    <input class="form-control border-secondary py-2" name="search" type="search" placeholder="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
}
@if (!User.IsInRole("Admin"))
{
    Html.RenderAction("MostDiscounted", "Ads");
}